<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>bobbyhadz.com</title>
  </head>
  <body>
    <h2>bobbyhadz.com</h2>

    <h2><%= message %></h2>

    <% if(salary > 0){ %>
    <h1>Your salary is <%= salary %></h1>
    <% } else{ %>
    <h1>Invalid salary supplied. Must be greater than 0.</h1>
    <% } %>
  </body>
</html>
